<!-- <div fxLayout="column" class="bg-level-1 main-container">
  <example-comp comp-name="OTHER_CHARTS.CANDLESTICK_BASIC" comp-desc="OTHER_CHARTS.CANDLESTICK_BASIC.DESC" [files]="getBasicUsageFiles()">
    <o-chart #candlestickbasic  type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters"
      entity="EStockExchange"></o-chart>
  </example-comp>

  <example-comp comp-name="OTHER_CHARTS.CANDLESTICK_CUSTOM" comp-desc="OTHER_CHARTS.CANDLESTICK_BASIC.DESC" [files]="getCustomServiceFiles()">
    <o-chart #candlestickcustom type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters2"></o-chart>
  </example-comp>
</div> -->