<div fxLayout="column" fxLayoutAlign="center top">
  <example-comp comp-name="OTHER_CHARTS.CANDLESTICK_BASIC" comp-desc="OTHER_CHARTS.CANDLESTICK_BASIC.DESC" [files]="getBasicUsageFiles()">
    <o-chart type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters"
      entity="EStockExchange"></o-chart>
  </example-comp>

  <example-comp comp-name="OTHER_CHARTS.CANDLESTICK_CUSTOM" comp-desc="OTHER_CHARTS.CANDLESTICK_BASIC.DESC" [files]="getCustomServiceFiles()">
    <o-chart #candlestick type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters2"></o-chart>
  </example-comp>
</div>