<div layout="column" layout-align="center top" layout-margin>
  <example-comp [comp-name]="getBasicUsageId()" [files]="getBasicUsageFiles()">
    <div layout="row" layout-padding layout-align="center center">
      <o-chart #ohlc type="ohlcBarChart" chart-height="600" x-data-type="time"
        [chart-parameters]="chartParameters" entity="EMovementsGrouped"></o-chart>
      <div class="body-text-container" layout-padding>
        <h2>Basic Usage</h2>
        <p class="body-text">
          Chart data are provided through an Ontimize service
        </p>
      </div>
    </div>
  </example-comp>

  <example-comp [comp-name]="getCustomServiceId()" [files]="getCustomServiceFiles()">
    <div layout="row" layout-padding layout-align="center center">
      <o-chart #ohlc2 type="ohlcBarChart" chart-height="600" x-data-type="time"
        [chart-parameters]="chartParameters2"></o-chart>
    </div>
    <div class="body-text-container" layout-padding>
      <h2>Custom Data</h2>
      <p class="body-text">
        Chart data are provided through an independent own service. In this case de data
        are hard coded in the typescript
      </p>
    </div>
  </example-comp>
</div>