<o-side-menu #oSideMenu title="">
  <o-side-menu-group>
    <o-side-menu-item title="INTRODUCTION" icon="home" route="/main/home"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>
    <o-side-menu-item title="LINE" icon="show_chart" route="/main/line"></o-side-menu-item>
    <o-side-menu-item title="PIE" icon="pie_chart" route="/main/pie"></o-side-menu-item>
    <o-side-menu-item title="DISCRETE_BAR" icon="insert_chart" route="/main/discrete-bar"></o-side-menu-item>
    <o-side-menu-item title="MULTI_BAR" icon="insert_chart" route="/main/multi-bar"></o-side-menu-item>
    <o-side-menu-item title="MULTI_BAR_HORIZONTAL" icon="insert_chart" route="/main/multi-bar-horizontal"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>
  </o-side-menu-group>
</o-side-menu>