
  <o-row>
    <example-comp comp-name="GAUGE.GAUGE_DASHBOARD_BASIC" fxFlex="50" comp-desc="GAUGE.GAUGE_DASHBOARD_BASIC.DESC" [files]="getBasicFiles()">
      <o-chart type="gaugeDashboardChart" chart-height="350" entity="EDataGauge" [chart-parameters]="gaugeDashboardConf2"></o-chart>
    </example-comp>

    <example-comp comp-name="GAUGE.GAUGE_DASHBOARD_CUSTOM" fxFlex="50" comp-desc="GAUGE.GAUGE_DASHBOARD_CUSTOM.DESC" [files]="getCustomFiles()">
      <o-chart #gaugeDashboard type="gaugeDashboardChart" chart-height="350" [chart-parameters]="gaugeDashboardConf"></o-chart>
    </example-comp>

  </o-row>
