<div layout="column" layout-align="center top" layout-margin>

    <example-comp [comp-name]="getBasicUsageId()" [files]="getBasicUsageFiles()" layout-fill>
        <div layout="row" layout-padding layout-align="center center">
            <o-chart type="multiBar" x-label="Time" y-label="Amount (€)" flex="75"
                entity="EMovementsGrouped" x-axis="DATE_" y-axis="MOVEMENT;AVERAGE;BALANCE"
                x-data-type="time"></o-chart>
        </div>
        <div class="body-text-container" layout-padding>
            <h2>Basic Usage</h2>
            <p class="body-text">
                Chart data are provided through an Ontimize service.
            </p>
            <p class="body-text">
                In this example, full chart data are provided by the Ontimize service query, that is, the aggregated data (balance and average balance)
                 are calculated into an Ontimize entity on the server side.
            </p>
        </div>
    </example-comp>

    <example-comp [comp-name]="getCustomDataId()" [files]="getCustomDataFiles()" layout-fill>
        <div layout="row" layout-padding layout-align="center center">
            <o-chart #multiBar type="multiBar" flex="75" x-label="Time" y-label="Amount (€)"
            [data]="data" x-data-type="time" flex="75"></o-chart>
        </div>
        <div class="body-text-container" layout-padding>
            <h3>Customize chart data </h3>
            <p class="body-text">
                In some applications it cannot be possible to modify Ontimize entity code, so, calculating aggregate data
                have to be performed into client side (it is not desired mode!).
            </p>
            <p class="body-text">
                In this example, it is performed an Ontimize service query to retrieve the movements of a determinate account. Once
                service response is received, data is processed for calculating the 'Total balance' and the 'Average balance' of the account.
            </p>
        </div>
    </example-comp>

</div>