<!-- <div fxLayout="column" class="bg-level-1 main-container">
  <example-comp comp-name="BUBBLE_CHART.SCATTER_BASIC" comp-desc="BUBBLE_CHART.SCATTER_BASIC.DESC" [files]="getBasicUsageFiles()">
    <o-chart type="scatterChart" x-label="Time" y-label="Amount (€)" entity="EMovementsGrouped" x-axis="DATE_" y-axis="MOVEMENT;AVERAGE;BALANCE"
      x-data-type="time" chart-height="600" [chart-parameters]="chartParameters1"></o-chart>
  </example-comp>
  <example-comp comp-name="BUBBLE_CHART.SCATTER_CUSTOM" comp-desc="BUBBLE_CHART.SCATTER_CUSTOM.DESC" [files]="getCustomConfigurationFiles()">
    <o-chart type="scatterChart" x-label="Time" y-label="Amount (€)" entity="EMovementsGrouped" x-axis="DATE_" y-axis="MOVEMENT;AVERAGE;BALANCE"
      x-data-type="time" [chart-parameters]="chartParameters2" chart-height="600"></o-chart>
  </example-comp>
</div> -->
