<div fxLayout="column" fxLayoutAlign="center top">
  <example-comp comp-name="BAR_CHAR.BULLET_BASIC" comp-desc="BAR_CHAR.BULLET_BASIC.DESC" [files]="getBasicFiles()">
    <o-chart type="bulletChart" chart-height="200" entity="EBullet" [chart-parameters]='chartParameters2'></o-chart>
  </example-comp>

  <example-comp comp-name="BAR_CHAR.BULLET_CUSTOM" comp-desc="BAR_CHAR.BULLET_CUSTOM.DESC" [files]="getCustomFiles()">
    <o-chart #bulletChart type="bulletChart" chart-height="200" [chart-parameters]="chartParameters"></o-chart>
  </example-comp>
</div>