@import "node_modules/@angular/material/theming";

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .active {
    border-color: mat-color($primary, 500);
    background-color: mat-color($primary, 100);
  }

  layout-manager {
    .left-border {
      background-color: mat-color($background, level-0);
    }
  }

  o-column-collapsible.o-column-collapsible>.o-container.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
    border-bottom-color: mat-color($foreground, divider);
  }


}