<div fxLayout="column" fxFill fxFlex="cacl(100% - 56px)">
  <h1 mat-dialog-title>{{ 'CHART.DATA_INPUT' | oTranslate }}</h1>
  <div mat-dialog-content fxFlex>
    <mat-form-field appearance="fill">
      <textarea matInput [(ngModel)]="data" placeholder="{{ 'CHART.DATA' | oTranslate }}"></textarea>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-stroked-button class="mat-primary" [mat-dialog-close]="false" (click)="onCancel()" class="o-button-default">
      {{ 'CANCEL' | oTranslate }}</button>
    <button type="button" mat-stroked-button class="mat-primary" (click)="onSave()" [mat-dialog-close]="true">
      {{ 'SAVE' | oTranslate }}</button>
  </mat-dialog-actions>
</div>