<div fxLayout="row" fxLayoutAlign="center stretch">
  <example-comp fxFlex="50" [comp-name]="getBasicId()" [files]="getBasicFiles()">
    <o-chart type="gaugeSlimChart" chart-height="350" entity="EDataGauge" [chart-parameters]="gaugeSlimConf"></o-chart>
    <div class="body-text-container">
      <h2>Basic Usage</h2>
      <p class="body-text">
        Chart data are provided through an Ontimize service.
      </p>
    </div>
  </example-comp>

  <example-comp fxFlex="50" [comp-name]="getCustomId()" [files]="getCustomFiles()">
    <o-chart #gaugeSlim type="gaugeSlimChart" chart-height="350" [chart-parameters]="gaugeSlimConf2"></o-chart>
    <div class="body-text-container">
      <h2>Custom Usage</h2>
      <p class="body-text">
        Chart data are provided through an independent own service. In this case de data are hard coded in the
        typescript.
      </p>
    </div>
  </example-comp>
</div>
