<div fxLayout="row" fxLayoutAlign="center stretch">
  <example-comp fxFlex="50" [comp-name]="getBasicId()" [files]="getBasicFiles()">
    <o-chart type="radialPercentChart" chart-height="350" y-axis="value" entity="EDataGauge"></o-chart>
    <div class="body-text-container">
      <h2>Basic Usage</h2>
      <p class="body-text">
        Chart data are provided through an Ontimize service.
      </p>
    </div>
  </example-comp>

  <example-comp fxFlex="50" [comp-name]="getCustomId()" [files]="getCustomFiles()">
    <o-chart #radialPercent type="radialPercentChart" chart-height="350" [chart-parameters]="radialPercentConf"></o-chart>
    <div class="body-text-container">
      <h2>Custom Usage</h2>
      <p class="body-text">
        Chart data are provided through an independent own service. In this case de data are hard coded in the
        typescript.
      </p>
    </div>
  </example-comp>
</div>
