<div fxLayout="column" fxLayoutAlign="center top">
  <example-comp [comp-name]="getBasicUsageId()" [files]="getBasicUsageFiles()">
    <o-chart type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters"
      entity="EStockExchange"></o-chart>
    <div class="body-text-container">
      <h2>Basic Usage</h2>
      <p class="body-text">
        Chart data are provided through an Ontimize service
      </p>
    </div>
  </example-comp>

  <example-comp [comp-name]="getCustomServiceId()" [files]="getCustomServiceFiles()">
    <o-chart #candlestick type="candlestickBarChart" chart-height="600" x-data-type="time" [chart-parameters]="chartParameters2"></o-chart>
    <div class="body-text-container">
      <h2>Custom Data</h2>
      <p class="body-text">
        Chart data are provided through an independent own service. In this case de data are hard coded in the
        typescript
      </p>
    </div>
  </example-comp>
</div>
