<o-column title="INTRODUCTION" class="bg-level-1" fxFlexFill>
  <div fxLayout="row">
    <div layout-padding fxFlex="60">
      <h3>What is Ontimize Web Charts?</h3>
      <p class="body-text">
        Ontimize Web Charts is a module that allows to you to integrate charts into an Ontimize Web application.
      </p>
      <p class="body-text">
        Ontimize Web Charts is based on nvD3 and d3 libraries.
      </p>
      <h3>Keep up to date</h3>
      <p class="body-text">
        Please refer to our changelog for up-to-date listings of all improvements and breaking changes.
      </p>
      <a href="https://github.com/OntimizeWeb/ontimize-web-ngx-charts/blob/master/CHANGELOG.md" target="_blank">
        <o-button type="STROKED" label="CHANGELOG" layout-padding color="primary" icon="access_time"></o-button>
      </a>
      <h3>Related topics</h3>
      <p class="body-text">
        Here are some interesting reading topics that can help you better understand how to develop with Ontimize Web.
      </p>
    </div>
    <div layout-padding fxFlex="40" fxLayoutAlign="center center">

    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="45px" layout-padding>
    <mat-card fxFlex="33">

    </mat-card>
    <mat-card fxFlex="33">

    </mat-card>
    <mat-card fxFlex="33">

    </mat-card>
  </div>
