.mat-mdc-card {
  display: flex;
  flex-direction: column;


  .mat-mdc-card-header {
    display: flex;
    margin-bottom: 10px;
    font-weight: 500;
    flex-shrink: 0;
  }

  .mat-mdc-card-content {
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }

  .mat-mdc-card-footer {
    padding-bottom: 10px;
  }
}