<!-- <div fxLayout="column" fxLayoutAlign="center top">

  <example-comp comp-name="AREA_CHAR.RADAR_BASIC" comp-desc="AREA_CHAR.RADAR_BASIC.DESC" [files]="getBasicFiles()">
    <o-chart type="radarChart" chart-height="400" entity="EDimensionData" [chart-parameters]="chartConf2"></o-chart>
  </example-comp>

  <example-comp comp-name="AREA_CHAR.RADAR_BASIC" comp-desc="AREA_CHAR.RADAR_BASIC.DESC" [files]="getCustomFiles()">
    <o-chart #radar type="radarChart" chart-height="400" [chart-parameters]="chartConf"></o-chart>
  </example-comp>
</div> -->