<div layout="column" layout-align="center top" layout-margin>

    <example-comp [comp-name]="getBasicUsageId()" [files]="getBasicUsageFiles()" layout-fill>
        <div layout="row" layout-padding layout-align="center center">
            <o-chart #multiBarHor type="multiBarHorizontalChart" chart-height="600" x-label="Time" y-label="Amount (€)" flex="75"
                entity="EMovementsGrouped" x-axis="DATE_" y-axis="MOVEMENT;AVERAGE;BALANCE"
                x-data-type="time" [chart-parameters]="chartParameters" ></o-chart>
        </div>
        <div class="body-text-container" layout-padding>
            <h2>Basic Usage</h2>
            <p class="body-text">
                Chart data are provided through an Ontimize service.
            </p>
        </div>
    </example-comp>

</div>